[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SCFMonitor"]
	path = SCFMonitor
	url = https://github.com/azuleneg/scfmonitor
